body{
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

#nav-bar-container{
    background-color: #FFDCA9;
    height: 110px;
 
}


#nav-bar-logo img{
    height: 120px;
    width: 150px;
    
}
#my-content h3{
margin-left: 20px;
}
#nav-bar-links{
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}
#nav-bar ul li{
    display: inline-block;
    margin: 0 10px;
    padding: 0 10px;
    border-right: 1px solid #000000;
}

#food-list img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    text-align: center;
}

#food-list li{
    display: inline-block  ;
    list-style-type: none;
    margin: 10px;
    height: 400px;
    width: 300px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #E8F3D6;
    box-shadow: #FFDCA9;
    text-align: center;
    animation : 10px;
    animation-name: slidein;
}
#food-list li:hover{
    background-color: #FFDCA9;
    box-shadow: #E8F3D6;
    animation-name: slideout;
}

#content{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}
#food-details{
        margin: 10px;
}

#footer-logo{
    text-align: center;
}
.social-icons{
    display: grid;
    margin-left: 10px;
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 40px ;
    margin-right: 20px;
    color: #000000;
    display: grid;
    padding-top: 5px;
   transition:transform 0.5s;
}
#footer{
    background-color: #FAAB78;
    display:grid

}
#contact-right{
    background-color: #FAAB78;
}
.copyright{
    text-align: center;
}
#submit-form{
    text-align: center;
   float: inline-end;
   display: grid;
}
form input, form textarea{
    width: 50%;
    border: 0;
    background: #E8F3D6;
    padding: 10px;
    margin :10px ;
    color: rgb(15, 15, 15);
    font-size: 18px;
    border-radius: 6px;
    float: left;

}
#btn {
   

    background-color: #E8F3D6;
    width: 70px;
    margin-left: 10px;
}
.contact-right-social a{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    color: #000000;
}
.contact-right-content h1,p{
    margin-left: 10px;
}
